<div class="{{ section.settings.custom_class }}">
  <div class="title_banner">
    <div class="title_banner_image">
      {% if section.settings.title_banner_image != blank %}
        {{ section.settings.title_banner_image | image_url: width: 1500, height: 400 | image_tag }}
      {% else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
    </div>
    <h1 class="title_banner_title">
      {% if section.settings.title_banner_title != blank %}
        {{ section.settings.title_banner_title | escape }}
      {% endif %}
    </h1>
  </div>
</div>

<style>
   .title_banner {
        position: relative;
        margin: 50px 0 0;
    }

    .title_banner_title {
      position: absolute;
      top: 45%;
      left: 20%;
      line-height: initial;
      margin: 0;git commit -m "first commit"
      color: #fd7ab2;
  }
    .title_banner_image svg {
      height: 400px;
  }


    @media(max-width:1199.98px) {
      .title_banner_image img {
        height: 280px;
        object-fit: contain;
      }
    }

    @media(max-width:991.98px) {
      .title_banner_image img {
        height: 210px;
      }
    }

    @media(max-width:767.98px) {
      .title_banner_image img {
        height: 115px;
      }
      .title_banner_title {
          top: 35%;
      }
    }
</style>

{% schema %}
{
  "name": "Title Banner",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    },
    {
      "type": "image_picker",
      "id": "title_banner_image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title_banner_title",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "Title Banner"
    }
  ]
}
{% endschema %}
