{%- liquid
    assign previous_product = collection.previous_product
    assign next_product = collection.next_product
    if previous_product or next_product
    else
    	assign collectionList = product.collections[0].handle
        assign previous_product = nil
        assign next_product = nil
        assign last = collections[collectionList].products_count
        for p in collections[collectionList].products
        	if p.handle == product.handle
            	assign prev = forloop.index | minus: 2
                assign next = forloop.index
                if prev >= 0
                  assign previous_product = collections[collectionList].products[prev].handle
                endif
                if last >= next
                  assign next_product = collections[collectionList].products[next].handle
                endif
                break
            endif
        endfor
    endif
-%} 
<div class="product-top-btn">
  <div class="pre-btn">
    {%- if previous_product -%}
      <a href="{{ previous_product }}" class="product-btn">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0.00 0.00 64.00 64.00">
          <path fill="#25030f" d="   M 14.40 34.29   L 26.78 46.65   Q 27.87 47.73 27.30 49.16   Q 27.13 49.59 26.72 49.78   Q 25.06 50.56 23.76 49.26   L 7.88 33.38   A 1.94 1.94 0.0 0 1 7.88 30.63   L 23.90 14.60   Q 25.28 13.22 26.88 14.33   Q 27.11 14.49 27.23 14.74   Q 27.92 16.21 26.77 17.35   L 14.71 29.40   Q 14.11 30.00 14.96 30.00   L 54.63 30.00   Q 56.25 30.00 56.60 31.58   Q 56.65 31.78 56.64 31.99   Q 56.56 34.00 54.55 34.00   L 14.52 34.00   A 0.17 0.17 0.0 0 0 14.40 34.29   Z">
          </path>
        </svg>
      </a>
    {%- endif -%}
  </div>
  <div class="next-btn">
    {%- if next_product -%}
      <a href="{{ next_product }}" class="product-btn">
        <svg viewBox="0.00 0.00 64.00 64.00" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <path fill="#26030f" d="   M 49.60 29.71   L 37.19 17.32   Q 36.09 16.22 36.72 14.79   Q 36.84 14.52 37.06 14.35   Q 38.63 13.13 40.04 14.54   L 56.00 30.50   A 2.12 2.12 0.0 0 1 56.00 33.50   L 40.16 49.33   Q 38.84 50.66 37.21 49.72   Q 36.94 49.57 36.80 49.29   Q 36.04 47.83 37.21 46.66   L 49.38 34.51   Q 49.89 34.00 49.17 34.00   L 9.39 34.00   Q 7.89 34.00 7.44 32.58   Q 7.33 32.23 7.39 31.88   Q 7.66 30.00 9.56 30.00   L 49.48 30.00   A 0.17 0.17 0.0 0 0 49.60 29.71   Z">
          </path>
        </svg>
      </a>
    {%- endif -%}
  </div>
</div> 
