<link
  rel="stylesheet"
  href="https://owlcarousel2.github.io/OwlCarousel2/assets//owlcarousel/assets/owl.carousel.min.css"
>
<link
  rel="stylesheet"
  href="https://owlcarousel2.github.io/OwlCarousel2/assets//owlcarousel/assets/owl.theme.default.min.css"
>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://owlcarousel2.github.io/OwlCarousel2/assets//vendors/jquery.min.js"></script>
<script src="https://owlcarousel2.github.io/OwlCarousel2/assets//owlcarousel/owl.carousel.js"></script>

<!-- TESTIMONIALS -->
<section class="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="customers-testimonials" class="owl-carousel">
          {% for block in section.blocks %}
            <div class="item">
              <div class="shadow-effect">
                <img
                  class="w-100"
                  src="{% if block.settings.clint_image != blank %} {{block.settings.clint_image | img_url : 'master'}} {% else %}//via.placeholder.com/660x600{% endif %}"
                >
                <p>{{ block.settings.contect }}</p>
                <div class="testimonial-name">{{ block.settings.name }}</div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END OF TESTIMONIALS -->

<style>
    .shadow-effect {
  		    background: #fff;
  		    padding: 20px;
  		    border-radius: 4px;
  		    text-align: center;
  	border:1px solid #ECECEC;
  		    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
  		}
  		#customers-testimonials .shadow-effect p {
  		    font-family: inherit;
  		    font-size: 17px;
  		    line-height: 1.5;
  		    margin: 0 0 17px 0;
  		    font-weight: 300;
  		}
  		#customers-testimonials .item {
  		    text-align: center;
  		    padding: 20px;
  				margin-bottom:80px;
  		    opacity: .2;
  		    -webkit-transform: scale3d(0.8, 0.8, 1);
  		    transform: scale3d(0.8, 0.8, 1);
  		    -webkit-transition: all 0.3s ease-in-out;
  		    -moz-transition: all 0.3s ease-in-out;
  		    transition: all 0.3s ease-in-out;
  		}
  		#customers-testimonials .owl-item.active.center .item {
  		    opacity: 1;
  		    -webkit-transform: scale3d(1.0, 1.0, 1);
  		    transform: scale3d(1.0, 1.0, 1);
  		}
  		.owl-carousel .owl-item img {
  		    max-width: 90px;
      		margin: 0 auto 17px;
  		}
  		#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
  #customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
  		    background: #3190E7;
  		    transform: translate3d(0px, -50%, 0px) scale(0.7);
  		}
  #customers-testimonials.owl-carousel .owl-dots{
  	display: inline-block;
  	width: 100%;
  	text-align: center;
  }
  #customers-testimonials.owl-carousel .owl-dots .owl-dot{
  	display: inline-block;
  }
  		#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
  		    background: #3190E7;
  		    display: inline-block;
  		    height: 20px;
  		    margin: 0 2px 5px;
  		    transform: translate3d(0px, -50%, 0px) scale(0.3);
  		    transform-origin: 50% 50% 0;
  		    transition: all 250ms ease-out 0s;
  		    width: 20px;
  		}
</style>

<script>
  jQuery(document).ready(function($) {
          		"use strict";
          		//  TESTIMONIALS CAROUSEL HOOK
  		        $('#customers-testimonials').owlCarousel({
  		            loop: true,
  		            center: true,
  		            items: 3,
  		            margin: 0,
  		            autoplay: true,
  		            dots:true,
  		            autoplayTimeout: 8500,
  		            smartSpeed: 450,
  		            responsive: {
  		              0: {
  		                items: 1
  		              },
  		              768: {
  		                items: 2
  		              },
  		              1170: {
  		                items: 3
  		              }
  		            }
  		        });
          	});
</script>

{% schema %}
{
"name": "Review",
"settings": [
       {
        "type": "text",
        "id": "custom_class",
        "label": "Custom Class"
      },
      {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    },
      {
      "type": "range",
      "id": "padding_left_right",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Left Right",
      "default": 20
    }

],
"blocks": [
  {
      "type": "column",
      "name": "Client",
      "settings": [
        {
          "type": "image_picker",
          "id": "clint_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "name",
          "default": "Client",
          "label": "Name"
        },
        {
          "type": "richtext",
          "id": "contect",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "Contect"
        }
      ]
    }

],
"presets": [
{
"name": "Review"
}
]
}
{% endschema %}
