<!-- Add this in the head of your HTML file -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.6/css/swiper.min.css"/>

<!-- Add this at the end of your body tag -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.6/js/swiper.min.js"></script>



<div class="container">
  
  <!-- slider-instance-wrapper -->
  <div class="slider-instance-wrapper">
    <div class="slider-wrapper no-padding">
      <div class="swiper-container js-slider--main">
        <div class="swiper-wrapper">
          <div class="swiper-slide photo__slide"><img src="https://unsplash.it/600/350"/></div>
          <div class="swiper-slide photo__slide"><img src="https://unsplash.it/600/351"/></div>
          <div class="swiper-slide photo__slide"><img src="https://unsplash.it/600/352"/></div>
        </div>
      </div>
    </div>
    
    <div class="slider-wrapper no-padding">
      <div class="swiper-container js-slider--nav">
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-wrapper">
          <div class="swiper-slide photo__slide"><img src="https://unsplash.it/600/350"/></div>
          <div class="swiper-slide photo__slide"><img src="https://unsplash.it/600/351"/></div>
          <div class="swiper-slide photo__slide"><img src="https://unsplash.it/600/352"/></div>
        </div>
      </div>
    </div>
  </div>
  <!-- slider-instance-wrapper -->
  
</div>
<style>
body {
  background-color: #eee;
}

.container {
  max-width: 700px;
  margin: auto;
  margin-top: 20px;
  padding: 0 20px;
}

.slider-instance-wrapper {
  margin-bottom: 30px;
}

.swiper-slide {
  img {
    width: 100%;
  }
}
</style>

<script>
/**
 * Multiple Swiper Slides
 * with same configuration and multiple navigation buttons
 *
 * @require Swiper v4.X
 * @author Pedro Britto
 */
const multipleSwiperSlides = function() {
	let sliderMain = document.querySelectorAll('.swiper-container.js-slider--main')
	let sliderNav  = document.querySelectorAll('.swiper-container.js-slider--nav')

  // Arrays to hold swiper instances
	let mainArray  = [];
	let navArray   = [];

	// Slider Main
	sliderMain.forEach(function(element, i) {
		// Push swiper instance to array
		mainArray.push(
			new Swiper(element, {
				loop: true,
				loopedSlides: 4,
			})
		);
	});

	// Slider Nav
	sliderNav.forEach(function(element, i) {
		var self = sliderNav;
		// Push swiper instance to array
		navArray.push(
			new Swiper(element, {
				slidesPerView: 4,
				loop: true,
				loopedSlides: 3,
				slideToClickedSlide: true,
        spaceBetween: 5,
        navigation: {
          nextEl: self[i].querySelector('.swiper-button-next'),
          prevEl: self[i].querySelector('.swiper-button-prev')
        }
			})
		);
	});

	const checkOnPage = function() {
		if (sliderMain.length > 0 && sliderNav.length > 0) {
			let numberOfSlides = mainArray.length || navArray.length || 0;
	
			if (mainArray.length !== navArray.length) {
				console.warn('multipleSwiperSlides: Number of main slides and nav slides is different. Expect incorrect behaviour.');
			}
	
			for (let i = 0; i < numberOfSlides ; i++ ) {
				mainArray[i].controller.control = navArray[i];
				navArray[i].controller.control  = mainArray[i];
			}
	
			console.log('multipleSwiperSlides: Things should be working fine. B)');
		}
	}

	checkOnPage();
}

multipleSwiperSlides();

</script>


{% schema %}
{
  "name": "demo",
  "tag": "section",
  "class": "section",
  "settings": [ ],
  "presets": [
    {
      "name": "demo"
    }
  ]
}
{% endschema %}
